/* Dark Mode Styles */
body.dark .register-container {
    background-color: #121212;
}

body.dark .card-header {
    color: #A0A0A0;
}

body.dark label {
    color: #E1E1E1;
}

body.dark .form-control {
    background-color: #2D2F36;
    color: #E1E1E1;
}

body.dark button {
    background-color: #4CB9D1;
    color: #FFFFFF;
}

body.dark button:hover {
    background-color: #45A049;
}

/* General Styles */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 22vw;
    min-width: 350px;
    min-height: 60vh;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-header {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1.5rem; /* Increased spacing */
    margin-top: 1rem;
}

label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: block;
    font-size: 1rem;
}

input {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

input:focus {
    outline: none;
}

/* Increased spacing before the submit button */
button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1.5rem; /* Added more spacing */
}

button:hover {
    background: #0056b3;
}

.alert {
    color: red;
    text-align: center;
    margin-bottom: 1rem;
}
