{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Chatbot</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
            integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        {% block css-links %}{% endblock %}
    </head>

    <body>
        <header>
            <div class="navbar">
                <!--                 NAV LOGO               -->
                <div class="nav-logo">
                    <i class="fa-regular fa-hospital" id="web-logo"></i>
                    <a href="{% url 'chatbot' %}">X-AID</a>
                </div>

                <!--                 NAV MESSAGE               -->

                {% if user.is_authenticated %}
                <div class="nav-auth">
                    <p>Welcome, {{ user.username }}</p>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
                {% else %}
                <div class="nav-non-auth">
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'register' %}">Register</a>
                </div>
                {% endif %}

                <!--                 NAV BOTS               -->

                <div class="nav-bots">
                    <a href="{% url 'chatbot' %}">Chatbot</a>
                    <a href="{% url 'prediction' %}">X-Ray</a>
                </div>

                <!--                 NAV SEARCH               -->

                <div class="nav-search">
                    <input class="search-input" placeholder="Search Chat" />
                    <div class="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>

                <!--                 NAV MODE               -->

                <div class="nav-mode">
                    <i class="fa-solid fa-moon" id="mode-toggle"></i>
                </div>
            </div>
        </header>

        {% block body %}{% endblock %} {% block footer %}{% endblock %}

        <script src="{% static 'js/base.js' %}" defer></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
